@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Encode+Sans+Semi+Expanded&display=swap');
@import url('https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
    font-family: 'Baloo 2', cursive;
    font-size:100%;
    color:#3F3F44;
}
file{
    display : none;
}
button:hover{
    background : #fff;
    border : 2px solid #FF4B2B;
    color : #FF416C;
}
button{
    border:none;
    background:linear-gradient(to right, #FF4B2B, #FF416C);
    color:#fff;
    font-family: 'Baloo 2', cursive;
    height:40px;
    min-width:10%;
    cursor: pointer;
    font-size:110%;
}
input{
    text-align:center;
    font-size:110%;
    font-family: 'Baloo 2', cursive;
    cursor:text;
}
select{
    text-align:center;
    font-size:110%;
    font-family: 'Baloo 2', cursive;
    width : 96%;
    height : 40px;
}
option{
    text-align:center;
    font-size:110%;
    font-family: 'Baloo 2', cursive;
}
a{
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    text-align:center;
}
h2{
    margin:1%;
}
h3{
    margin:1%;
}
h4{
    margin:1%;
}
textarea{
    resize:none;
    font-family:'Baloo 2', cursive;
    color:#000!important;
    background:transparent;
    width:80%!important;
    height:auto;
    border:1px solid #ccc!important;
    border-radius : 4px;
    margin-left : 10%;
}
input[type=file]{
    display:none;
}
#account-holder{
    width : 100%;
    height : 100%;
    background : #F7F8FB;
}
.select2-container{
    width : 96%;
}
#account-nav{
    width: 20%;
    height: 100%;
    border: 2px solid #fff;
    float: left;
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    color: #fff;
}
#account-content{
    width : 80%;
    height : 100%;
    float : right;
    overflow : auto;
}
#delete-icon{
    height : 40%;
    width : 40%;
    margin-left : 30%;
    margin-top : 5%;
}
#main-focus{
    width : 100%;
    height : auto;
    background : #fff;
}
#main-footer{
    width : 100%;
    height : 15%;
}
#account-nav img{
    height : 20%;
    width : 50%;
    border-radius : 50%;
    border : none;
    position : relative;
    left : 30%;
}
.account-window button{
    background : transparent;
    font-size : 80%;
    color : #000;
}
.account-window{
    display : none;
    background : transparent;
}
#account-nav button{
    height : 40px;
    width : 78%;
    margin : 1%;
    background : transparent;
    text-align : left;
    margin-left : 20%;
}

#outer-profile{
    height : 100%;
    width : 90%;
    display : flex;
    flex-direction : column;
}
#inner-profile{
    width : 100%;
    display : flex;
    flex-direction : row;
    min-height : 45%;
    height : auto;
    text-align : center;
}
.bridge{
    display : flex;
    width : 100%;
}
#hold-job{
    width : 98%;
    margin : 1%;
    margin-top : 4%;
    box-shadow : 1px 1px 2px #ccc
}
#get-bridge{
    border : 1px solid #ccc;
    border-radius : 2px;
    margin : 1%;
    width : 15%;
}
#profile-tower i{
    font-size : 200%;
}
#profile-tower button{
    width : 40%;
}
#profile-tower input[type=date]{
    border : 1px solid #ccc;
    border-radius : 5px;
    margin : 1%;
    width : 98%;
}
#profile-tower input{
    border : 1px solid #ccc;
    border-radius : 5px;
    margin : 1%;
}
#profile-tower{
    border : 1px solid #ccc;
    min-height : 200px;
    height : auto;
    width : 33%;
    margin : 1%;
    border-radius : 5px;
}
#profile-avatar{
    width : 30%;
}
#main-footer{
    width : 100%;
}
#profile-avatar img{
    width : 30%;
    height : 30%;
}
#hold_search span{
    height : 40px;
    width : 15%;
    border : 1px solid #ccc;
    border-radius : 3px;
    margin : 1%;
}
#hold_search input{
    float : right;
    height : 100%;
    width : 80%;
    border : none;
}
#hold_search{
    display : flex;
    width : 98%;
    margin : 1%;
    height : 40px;
}
#Get_doctor_hospital{
    display : flex;
    width : 98%;
    margin : 1%;
    height : 40px;
}
#hold_search_doctor{
    display : flex;
    width : 98%;
    margin : 1%;
    height : 40px;
}
#hold_search_record{
    display : flex;
    width : 98%;
    margin : 1%;
    height : 40px;
}
#delete-hospital-view{
    width : 80%;
    height : 40px;
}
#delete-doctor-view{
    width : 80%;
    height : 40px;
}
#view_hospital{
    width : 80%;
    float : left;
}
#view_doctor{
    width : 80%;
    float : left;
}
#view_record{
    width : 80%;
    float : left;
}
#doctor-record{
    width : 80%;
    float : left;
}
#sickness-record{
    width : 80%;
    float : left;
}
#personal-record div{
    width : 80%;
    margin-left : 10%;
}
#personal-record{
    width : 80%;
    margin-left : 10%;
}
#wall-package{
    position : sticky;
    top : 0px;
}
#search_hospital{
    width : 20%;
    float : right;
    height : 30px;
    border-radius : 10px;
}
#view_hospitals{
    width : 98%;
    margin : 1%;
    background : #F7F8FB;
}
#hospital_id{
    background : #fff;
    margin : 1%;
    width : 98%;
}
#pin{
    font-size : 120%;
    color : #FFDE2B;
}
#sign-out{
    cursor : pointer;
}
#main-package{
    width : 100%;
    height : 100%;
    background : rgba(234,234,234,0.7);
}
#all_package img{
    width : 100%;
    height : 200px;
}
#all_package section{
    width : 32%;
    margin : 1%;
    border : 1px solid #ccc;
}
#all_package{
    margin : 2%;
    width : 96%;
    display : flex;
    background : #fff;
}
#create-ads form{
    width : 80%;
    margin : 10%;
    background : #fff;
    box-shadow : 1px 2px 2px #ccc 2px 3px 2px #ccc;
}
#create-ads{
    width : 100%;
    height : 100%;
    background : rgba(243,243,243,0.6);
}
#add-qualification{
    width : 100%;
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
}
#view_ads{
    width : 100%;
    height : 100%;
    background : rgba(234,234,234,0.5);
}
#hold-ad{
    width : 95%;
    background : #fff;
    margin : 2.5%;
}
#applicant{
    width : 95%;
    border : 1px solid #ccc;
    border-radius : 4px;
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
}
#short-div{
    width : 15%;
    margin : 1%;
    border : 1px solid #ccc;
    border-radius : 4px;
}
#long-div{
    width : 100%;

}
#long-internal-div div{
    width : 15%;
    margin : 1%;
    background : #fff;
}
#long-internal-div{
    display : flex;
    flex-wrap : wrap;
    background : rgba(234,234,234,0.7);
}
#ad_must{
    border : 1px solid #ccc;
    height : 40px;
    width : 40%;
    border-radius : 4px;
    margin : 1%;
    margin-left : 30%;
}
#put-qualification{
    width : 20%!important;
    margin-left : 30%;
    border-radius : 5px;
}